.drawerContainer {
  display: flex;
  height: calc(100vh - 73.5px); /* Dejar espacio para el header */
  position: fixed;
  top: 73.5px; /* Fijo justo debajo del header */
  left: 0;
  z-index: 1200;
}

.drawerNav {
  width: 240px;
  flex-shrink: 0;
}

.mobileDrawer {
  z-index: 1201;
}

.desktopDrawer {
  width: 240px;
  flex-shrink: 0;
}

.mainContent {
  flex-grow: 1;
  padding: 16px;
  margin-left: 240px; /* Deja espacio para el drawer */
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

.userSection {
  padding: 16px;
  text-align: center;
}

.profileImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.userName {
  font-weight: bold;
}

.userRole {
  font-size: 0.9rem;
  color: gray;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.menuButton {
  margin-right: 36px;
}

.appBar {
  z-index: 1200;
}
