/* app/components/header.module.css */
.header {
  background-color: #001F3F;
  color: white;
  padding: 0.75rem 1.5rem;
  height: 73.5px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1300;
  box-shadow: 0px 4px 2px -2px gray;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.logoImage {
  width: 85px;
  height: auto;
  filter: brightness(0) invert(1); /* Aumenta el contraste al blanco puro */
  margin-right: 0.75rem;
  margin-top: 4px; /* Centra verticalmente */
}

.companyName {
  font-size: 1.5rem; /* Tamaño de letra aumentado */
  font-weight: 500;
  color: white;
  white-space: nowrap;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navLinks a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 768px) {
  .navLinks {
    flex-direction: column;
    gap: 1rem;
  }

  .nav {
    flex-direction: column;
  }
}
