/* app/components/SearchBar.module.css */

.searchBar {
  display: flex;
  align-items: center;
  max-width: 600px; /* Ajusta el ancho máximo según el diseño */
  margin: 0 auto; /* Centra la barra de búsqueda */
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: darkblue;
}
