/* globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #001F3F;
  color: white;
  padding: 0.75rem 1.5rem; /* Padding ajustado para el header */
  height: 73.5px; /* Altura del header ajustada a un 5% más grande */
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 85px; /* Tamaño del logo ajustado a un 5% más pequeño adicionalmente */
  height: auto;
  filter: invert(100%);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* Espacio entre enlaces */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem; /* Tamaño de fuente adecuado */
}

.nav-links a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem; /* Espacio entre enlaces en móvil */
  }

  .nav {
    flex-direction: column;
  }
}
