/* app/globals.css */

body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

header {
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
}

footer {
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* styles/globals.css */
h1 {
  text-align: center;
}


