/* login.module.css */

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Añade padding al contenedor */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto de la pantalla */
  box-sizing: border-box; /* Incluye el padding en el cálculo del alto total */
}

.title {
  font-size: 24px;
  margin-bottom: 5px; /* Ajusta el margen inferior del título para acercar el formulario */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Ajusta el margen superior del formulario para moverlo más cerca del título */
}

.label {
  margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
}

.input, .button {
  width: 100%;
  max-width: 300px; /* Ajusta el ancho máximo del formulario */
  margin-bottom: 10px; /* Espacio entre campos y botones */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: darkblue;
}



  