/* edituser.module.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .textCenter {
    text-align: center;
  }
  
  .alert {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
  }
  
  .alertDanger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alertSuccess {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .circleImage {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .circleImage img {
    border-radius: 50%;
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: 80px; /* Ajusta el tamaño según sea necesario */
    object-fit: cover; /* Ajusta la imagen para que no se distorsione */
    border: 2px solid #ddd; /* Agrega un borde sutil */
  }
  
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .formControl {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .btnPrimary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .btnPrimary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  